.about_container {
	.info {
		padding: 30px;
	}
	.img_container {
		margin: 10%;
		img {
			border-radius: 50%;
		}
	}

	h1 {
		color: white;
		font-size: 3em;
		&:after {
			content: " ";
			width: 50px;
			height: 3px;
			bottom: 0;
			left: 0;
			display: block;
			background: #149ddd;
		}
	}
	p {
		color: #7a7a7a;
	}
}

@media screen and (max-width: 560px) {
	.img_container {
		display: none;
	}
}
