.button {
	background: #11abb0;
	font: 16px/30px "opensans-bold", sans-serif;
	display: inline-block;
	text-decoration: none;
	letter-spacing: 0;
	color: #fff;
	padding: 12px 20px;
	margin-bottom: 18px;
	border: none;
	cursor: pointer;
	height: auto;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
