.header {
	height: 800px;
	display: flex;
	justify-content: space-between;
}

.about {
	text-align: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.headline {
	font-size: 5rem;
	color: rgba(255, 255, 255, 0.75);
	font-weight: bold;
}

.headline_subheading {
	margin: 50px 0 50px 0;
	color: #a8a8a8;
	align-self: center;
}
