.card_container {
	// display: flex;
	// flex-wrap: wrap;
	width: 100%;
	.card {
		width: 50%;
		text-align: center;
		display: flex;
		margin-top: 50px;
		display: flex;
		justify-content: space-between;
	}
}
