.card_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	row-gap: 50px;
	column-gap: 10px;
	.card {
		width: 40%;
		text-align: center;
		section {
			display: flex;
			justify-content: space-around;
		}
	}
}
